<!DOCTYPE html>
<html lang="en">
<head>
  <title>DBS VMS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="{% static 'profiles_api/css/main.css' %}" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div id="auth-bar">
      {% if user.is_authenticated %}
        Hi, {{ user.name }}! | <a href="{% url 'logout' %}">logout</a>
      {% endif %}
    </div>
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">
        <img src="/media/dbs_logo.svg" />
      </span>
    </nav>
    <div id="vms-description">
      A visitor enrollment system proof of concept by CTC Global Pte Ltd
    </div>
    {% block login %}
    {% endblock login %}
    {% block content %}
    {% endblock content %}
  </div>
  <script src="{% static 'profiles_api/js/main.js' %}"></script>
</body>
