{% extends 'base.html' %}
{% load timetags %}
{% block history %}
  <div id="breadcrumbs-bar">
    {% if user.is_authenticated %}
      << <a href="{% url 'register_guest' %}">REGISTRATION PAGE</a>
    {% endif %}
  </div>
  <h3>Visit History</h3>
  <br />
  <p>
    {% for item in info %}
      <span class="visit-log">
        Name: <strong>{{ item.person_information.name }}</strong><br />
        Company: {{ item.person_information.company }}<br />
        Visited On: {{ item.person_information.visit_start_timestamp | print_timestamp }}<br />
        Expired On: {{ item.person_information.visit_end_timestamp | print_timestamp }}
        <br /><br />
      </span>
    {% endfor %}
  </p>
{% endblock %}
