{% extends 'base.html' %}
{% load timetags %}
{% block visitor_list %}

<h2>Registered Visitor(s)</h2>
<p>&nbsp;</p>

  <!-- Iterate over object_list -->
  {% for visitor in visitors %}
  <!-- Display Objects -->

    <p id="profiles-card">
      <a href="{% url 'userprofile' pk=visitor.id %}"><img id="profile-photo-tn" src="/media/{{ visitor.photo }}" /></a><br /><br />
      <strong>{{ visitor.name }}</strong><br />
      {{ visitor.company }}<br />
    </p>
  <!-- If objet_list is empty  -->
  {% empty %}
    <h4>No such user in the list, click the register button.</h4>
    <p>&nbsp;</p>
    <a id="reg-submit" href="{% url 'register_guest' %}">Register</a>
  {% endfor %}
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li id="reg-message-success" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <p style="clear: both;">&nbsp;</p>
  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  {% endif %}

{% endblock %}
