{% extends 'base.html' %}
{% load timetags %}
{% block visitor_list %}

<h2>Profile</h2>

  <!-- Display Profile -->
    <p>
      <img id="profile-photo" src="/media/{{ visitor.photo }}" /><br /><br />
      <strong>{{ visitor.name }}</strong><br />
      {{ visitor.company }}<br />
      Mobile Number: {{ visitor.mobile_number }}<br />
      Registered: {{ visitor.reg_date }}<br />
      Last Access Date: {{ visitor.last_access_date }}
    </p>
    <br />
    <form method='post'>
       {% csrf_token %}
       <input name="allow_access" hidden>
       <input name="pk" value="{{ visitor.pk }}" hidden>
       <button type="submit" id="reg-submit">Allow Access</button>
     </form>
     {% if messages %}
     <ul class="messages">
         {% for message in messages %}
         <li id="reg-message-success" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
         {% endfor %}
     </ul>
     {% endif %}
{% endblock %}
