@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap');
body {
  background: url('/media/page-background.png');
}
.container {
  max-width: 600px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  /*font-family: Open Sans;*/
  font-weight: lighter !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
@media (max-width: 600px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.navbar {
  border-top: 5px solid #2e2e2e;
  background-color: #fff;
}
.navbar-brand {
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
}
#guest-registration label {
  text-transform: uppercase;
}
#guest-registration input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  /*border: 1px solid #222;*/
}
#reg-submit {
  background-color: #f33;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 8px 30px;
  text-transform: uppercase;
  font-weight: 600;
}
#reg-submit:hover {
  background-color: #f00;
}
#vms-login-button {
  background-color: #f33;
  color: #fff;
  border: 0;
}
#vms-login-button:hover {
  background-color: #f00;
}
#vms-description {
  font-size: 12px;
  margin-bottom: 20px;
}
#auth-bar {
  font-size: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: right;
}
#webcam-open-button {
  border-radius: 0 !important;
}
#open-web-cam {
  background-color: #222;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}
.messages {
  padding-inline-start: 0 !important;
}
#reg-message-success {
  list-style-type: none;
  border: 1px solid #f33;
  color: #f33;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  margin-top: 20px;
}
.access-camera {
  display: flex;

}
.btn-info {
  border: none;
}
.pdpa {
  display: flex;
}
.pdpa #id_is_pdpa_checked {
  width: auto;
}

/* NRIC Validation */

#id_nric_number {

}
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.validateicon {
   display: inline-block;
}
.validateicon::after {
  content: "✕";
  color: #ff0000;

}
.valid::after {
  content: "✓";
  color: #00ff00;
}
